@namespace Append.AntDesign.Components
@inherits AntComponent

<div class="@Classes" style="@Style">
    @if (!string.IsNullOrEmpty(Title) && !Loading)
    {
    <div class="ant-card-head">
        <div class="ant-card-head-wrapper">
            <div class="ant-card-head-title">
                @Title
            </div>

            @if (Extra != null)
            {
                <div class="ant-card-extra">
                    @Extra
                </div>
            }
        </div>
        @if (TabList.Any())
        {
            <CardTabs TabList="@TabList" ActiveTabKey="@ActiveTabKey" />
        }
    </div>
    }

    @if (Cover != null)
    {
        <div class="ant-card-cover">
            @Cover
        </div>
    }
    <div class="ant-card-body">
        @if (Loading)
        {
            <Loading />
        }
        else
        {
            @ChildContent
        }
    </div>
    
    @if (Actions.Any())
    {
        <ul class="ant-card-actions">
            @foreach (var action in Actions)
            {
                <li style="width: 33.3333%;">@action</li>
            }
        </ul>
    }
</div>